@model IEnumerable<WebWorker.Models.Food>


@if(Model.Any())
{
<table class="table table-bordered table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Measurement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
}
    </tbody>
</table>
}
